
@{
    ViewBag.Title = "Edit";
} 
    <head>
        <link rel="stylesheet" href="~/Content/categorynewstyle.css">
    </head>
<br /><br />
    <div class="sform">
        <div class="sformcontent">
            <form method="post" action="/Categories/Edit/@ViewBag.Category.CategoryId">
                @Html.HttpMethodOverride(HttpVerbs.Put)
                <label class="stxt">Nume categorie</label>
                <br />
                <input type="text" name="CategoryName" value="@ViewBag.Category.CategoryName" />
                <br /><br />
                <button class="smodif" type="submit">Modifica categorie</button>
            </form>
        </div>
    </div>
