
@{
    ViewBag.Title = "Lista Categorii";
}

<h2>@ViewBag.Title</h2>
@foreach (var category in ViewBag.Categories)
{
    <p>@category.CategoryName</p>
    <a href="/Categories/Show/@category.CategoryId">Afisare categorie</a>
    <br />
    <hr />
    <br />
}
<a href="/Categories/New">Adauga alta categorie</a>
<br />

