@{
    ViewBag.Title = "Adaugare categorie";
}
<p>Afisare formular de adaugare categorie</p>
<form method="post" action="/Categories/New">
    <label>Nume</label>
    <br />
    <input type="text" name="CategoryName" />
    <br /><br />
    <button type="submit">Adauga categorie</button>
</form>