
@{
    ViewBag.Title = "Afisare categorie";
}

    <head>
        <link rel="stylesheet" href="~/Content/categoryshowstyle.css">
    </head>
<h1> ceva</h1>
<h1 class="ntitle">@ViewBag.Category.CategoryName</h1>
<br />
<a href="/Categories/Edit/@ViewBag.Category.CategoryId" class="emodif">
    Modifica categorie
</a>
<form method="post" action="/Categories/Delete/@ViewBag.Category.CategoryId">
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button type="submit" class="sdelete">Sterge categoria</button>
</form>
@*<hr />
<a href="/Categories/Index">Inapoi la lista categoriilor</a>
<br />
<a href="/Categories/New">Adauga alta categorie</a>
<br />*@