
@{
    ViewBag.Title = "Home Page";
}

@for (int i = 0; i < ViewBag.Categories.Count; i++)
{
    <div class="container">
        <div class="row">@ViewBag.Categories[i].CategoryName</div>
        <div class="row">@ViewBag.Articles[i].ArticleTitle</div>
        <a href="/Home/Show/@ViewBag.Categories[i].CategoryId" style="text-decoration:none">Vedeti toate articolele</a>
        <br/>
    </div>
}


