@using Microsoft.AspNet.Identity
<head>
    <link rel="stylesheet" href="~/Content/loginpartialstyle.css">
</head>
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
        <div class="ptfloat">
            <p>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "loginal" })
            </p>
            <p><a href="javascript:document.getElementById('logoutForm').submit()" class ="alstyle logoff">LOG OFF</a></p>
        </div>
    }
}
else
{
    <ul>
        <li class="ptfloat">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class= "alstyle logoff" })</li>
        <br />
        <br />
        <li class="ptfloat">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "alstyle logoff" })</li>
    </ul>
}
