<div class="panel-heading"> @Model.ArticleTitle </div>
<div class="panel-body">
    <span class="label label-success"> @Model.LastModified </span>
    <br />
    <i class="glyphicon glyphicon-globe"></i> @Model.Category.CategoryName
    <br />
    <i class="glyphicon glyphicon-user"></i> <i> Articol scris de </i> <strong>@Model.User.UserName</strong>
</div>

