<div><a class="aititle astitle" href="/Articles/Show/@Model.ArticleId"> @Model.ArticleTitle </a> </div>
<div class="aiinfo asinfo">
    <a class="aitxt astxt">Data uploadarii: @Model.LastModified</a>
    @*<br />*@
    <a href="/Home/Show/@Model.Category.CategoryId" class="aitxt astxt catlink" style="text-decoration:none"> Categorie: @Model.Category.CategoryName </a>
    @*<br />*@
    <a class="aitxt astxt">  Articol scris de: @Model.User.UserName </a>
</div>
