@model Crowd_Knowledge_Contribution.Models.Chapter

@{ ViewBag.Title = "Afisare capitol"; }

<head>
    <link rel="stylesheet" href="~/Content/chapterindexstyle.css">
</head>
<h1>ceva</h1>
<h1 class="cptitle">@Model.ChapterTitle</h1>
<a href="/Articles/Show/@Model.ArticleId" class="cpback">&#8611; Inapoi la lista capitolelor &#8610;</a>
@if ((Model.User.UserName == System.Web.HttpContext.Current.User.Identity.Name && User.IsInRole("Editor")) || User.IsInRole("Admin"))
{
    <a href="/Chapters/New/@Model.ArticleId" class="cslinks">Adauga alt capitol</a>
    <br />
    <a href="/Chapters/Edit/@Model.ChapterId" class="cslinks">
        Modifica capitol
    </a>
    <form method="post" action="/Chapters/Delete/@Model.ChapterId">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button type="submit" class="delbtn">Sterge capitol</button>
    </form>

    <a href="/Modifications/IndexChapter/@Model.ChapterId" class="cslinks">Afisati modificarile</a>
    <br />
}
<br />
<strong> Continut </strong>
<br />
<p class="cpcontent" style="margin:0px 0px 0px 0px;"> @Html.Raw(Model.ChapterContent)</p>
<br />

<br />

